.container {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
}

.layout {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.footer, .endCall {
    background: linear-gradient(#f14654, #97041b);
    box-shadow: 0px 2px 4px rgba(#000, 0.4);
    i {
        font-size: 30px;
        line-height: 80px;
    }
}

.endCall {
    position: static;
    display: inline-block;
    margin-top: 25px;
    i {
        font-size: 24px;
        transform: rotate(133deg);
    }
}

.talk {
    background: #fff;
    color: rgb(0,186,210);
    border: 3px solid rgb(0,186,210);
    text-align: center;
    text-transform: uppercase;
    i {
        display: block;
        font-size: 40px;
        margin: 25px 0 10px 0;
    }
}

.pulse {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: .6;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    animation: pulsate 5s ease-out;
}

@keyframes pulsate {
    0% {
        transform: scale(1, 1);
    }
    10% {
        transform: scale(1.2, 1.2);
    }
    20% {
        transform: scale(1.1, 1.1);
    }
    30% {
        transform: scale(1.3, 1.3);
    }
    40% {
        transform: scale(1.1, 1.1);
    }
    50% {
        transform: scale(1, 1);
    }
    60% {
        transform: scale(1.2, 1.2);
    }
    70% {
        transform: scale(1, 1);
    }
    80% {
        transform: scale(1.3, 1.3);
    }
    100% {
        transform: scale(1, 1);
    }
}
