.layout {
    display: inline-block;
    border: 1px solid #fff;
    height: 30px;
    line-height: 28px;
    padding: 0 20px;
    text-transform: uppercase;
}

.active {
    background: #fff;
    color: rgb(38,38,38);
    height: 40px;
    line-height: 38px;
}
